@import url("base/navbar.css");
@import url("products.css");
body {
    font-family: montserrat;
}

.cart-body-container {
    display: flex;
    background-color: var(--dark-primary-text);
    height: 100vh;
}

.cart-container {
    background-color: var(--dark-primary-text) !important;
}

.price-card {
    min-width: 17rem;
    max-height: 18rem;
    margin: 4.5rem 0.5rem -2rem 1rem;
}

.product-add-sub-btn {
    margin-left: 1rem;
    display: inline-block;
}

.product-add-sub-btn>button {
    padding: 0px 10px;
    color: var(--secondary-bg-color);
    font-size: 1rem;
    font-weight: 600;
    background-color: var(--secondary);
}

.price-details-heading {
    border-bottom: 5px solid var(--dark-primary-text);
    margin: 1rem 0rem;
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--tertiary);
}

.pricing-table {
    width: 100%;
}

.pricing-table>tr,
td {
    border: 2px solid var(--dark-primary-text);
    padding: 2px 10px;
    font-weight: 800;
    color: var(--dark-secondary);
    font-family: montserrat;
}

@media screen and (max-width:800px) {
    .cart-body-container {
        display: flex;
        flex-wrap: wrap;
    }
}