/* @import url("CSS/base/navbar.css"); */

.body {
    font-family: 'Courier New', Courier, monospace;
}

.header-part {
    justify-content: space-around;
    border: 0.5px solid var(--black);
}

.logo {
    margin-left: 0 0 0 1rem;
}

.search-bar {
    margin-right: auto;
}

.search-bar input {
    height: 2rem;
    width: 30vw;
    outline: none;
    border: 1px solid var(--dark-primary);
    border-radius: 5px;
    padding: 1px 5px;
    font-family: monospace;
    font-weight: 600;
    color: #333;
    font-size: large;
}

.landing-page-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner-container {
    margin-top: 10%;
    width: 40%;
    background-color: rgba(0, 0, 0, 0.7);
    overflow: hidden;
    padding: 2rem 1rem;
    border-radius: 0.5rem;
}

.banner-text {
    word-spacing: 3px;
    color: var(--primary);
    font-size: 1.5rem;
    font-weight: 800;
}

.landing-page-btn_primary {
    background-color: var(--red);
    font-size: 1.1rem;
}

.landing-page-btn_primary:hover {
    background-color: var(--black);
}

.landing-page-btn_secondary {
    margin-top: 0.2rem;
    font-size: 1rem;
}

.headings {
    margin: 0.5rem 0 1rem 0;
    font-size: 1.5rem;
    border-bottom: 5px solid var(--dark-primary);
}

.landing-page-secondary {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
    grid-template-rows: repeat(1, 1fr);
    overflow: hidden;
    background-color: var(--dark-primary-text);
}

.category_container {
    margin: 1rem;
}

.landing-images {
    height: 15rem;
}

.landing-images:hover {
    opacity: 0.5;
    cursor: pointer;
}