.body-container {
    display: flex;
}

.sidebar-link {
    align-items: flex-start !important;
}

.sidebar-navigation::-webkit-scrollbar {
    width: 10px;
}

.main-container {
    margin-top: 3rem;
    width: 100vw;
    height: calc(100vh - 3.5rem);
    overflow: auto;
    background-color: var(--dark-primary-text);
}

.main-container::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

.filter {
    text-align: left;
    margin: 0rem 0rem 0.5rem 2rem;
}

.filter p {
    color: var(--white);
    margin-top: 1rem;
    font-family: montserrat;
    font-size: 1.2rem;
    font-weight: 800;
}

.filter p i {
    color: var(--blueviolet);
}